@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

:root{
    --primary: 'Alata';
    --secondary: 'Josefin Sans';
    --darkGray: hsl(0, 0%, 55%);
    --veryDarkGray: hsl(0, 0%, 41%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}
.wrapper{
    position: relative;
}
.navigation{
    width: 80vw;
    margin: auto;
}
.navigation nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vw;
}
a{
    color: white;
    cursor: pointer;
}
.logo{
    align-items: center;
    width: 15vw;
}
.navigation nav ul{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    list-style: none;
    font-family: var(--primary);
    font-weight: 300;
    font-size: 1.2vw;
    color: white;
}
.navigation nav ul li::after{
    content: '';
    display: block;
    width: 0;
    height: 0.15vw;
    background: white;
    transition: width .4s ease-in;
    position: relative;
    top: 0.5vw;
    left: 30%;
}
.navigation nav ul li:hover::after{
    width: 40%;
}
.hero-text {
    border: 2px solid white;
    width: 40vw;
    padding: 30px;
    color: white;
    margin-left: 9.5vw;
    margin-top: 150px;
}
.hero-text h1{
    font-family: 'Josefin Sans', monospace;
    font-size: 4vw;
    font-weight: 300;
}
.hero-banner img{
    position: absolute;
    top: -4vw;
    z-index: -1;
    max-width: 100vw;
}
.about{
    width: 80vw;
    margin: auto;
    margin-top: 15vw;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.about img{
    width: 65%;
}
.about-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5vw;
    padding-bottom: 0;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 40vw;
    height: fit-content;
    width: 38vw;
}
.about-text h1{
    font-family: var(--secondary);
    font-size: 2vw;
    margin-bottom: 20px;
    font-weight: 300;
    color: hsl(0, 0%, 41%);
}
.about-text p{
    font-family: var(--primary);
    font-size: 1vw;
    font-weight: 100;
    color: hsl(0, 0%, 41%);
}
.creations{
    width: 80vw;
    margin: auto;
    margin-top: 100px;
    font-family: var(--secondary);
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading h1{
    font-size: 2vw;
    font-weight: 100;
    align-items: center;
    color: hsl(0, 0%, 41%);
}
.see-all{
    background-color: white;
    padding: 10px 20px;
    border-color: hsl(0, 0%, 41%);
    font-size: 1vw;
    color: hsl(0, 0%, 41%);
    -webkit-appearance:none;
}
.see-mobile{
    display: none;
}
.see-all:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border-color: black;
}
.cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 18.5vw);
    grid-gap: 2vw;
}
.image{
    position: relative;
    background-color: black;
    pointer-events: none;
}
.image img{
    max-width: 18.5vw;
    opacity: 0.8;
    pointer-events: auto;
}
.image img:hover{
    opacity: 0.3;
    cursor: pointer;
}
.image:hover{
    background-color: hsl(0, 0%, 41%);
}
.image p{
    font-weight: 400;
    position: absolute;
    bottom: 30px;
    left: 30;
    width: 8vw;
    font-size: 1.5vw;
    color: hsl(0, 0%, 90%)
}
.footer{
    background-color: black;
    margin-top: 100px;
    padding: 20px;
    padding-bottom: 40px;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 30px auto; 
}
.side-nav{
    display: none;
}
.bottom{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
}
.bottom ul{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    list-style: none;
    font-family: var(--primary);
    font-size: 1.2vw;
}
.bottom ul li::after{
    content: '';
    display: block;
    width: 0;
    height: 0.15vw;
    background: white;
    transition: width .4s ease-in;
    position: relative;
    top: 0.5vw;
    left: 30%;
}
.bottom ul li:hover::after{
    width: 40%;
}
.socials{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 15vw;
}
.socials span::after{
    content: '';
    display: block;
    width: 0;
    height: 0.15vw;
    background: white;
    transition: width .4s ease-in;
    position: relative;
    top: 0.5vw;
}
.socials span:hover::after{
    width: 100%;
}
.top img{
    align-items: center;
    width: 10vw;;
}
.socials img{
    width: 2vw;
}
.socials img:hover{
    cursor: pointer;
}
.mobile-hero{
    display: none;
}
.bottom p{
    color: hsl(0, 0%, 55%);
    font-size: 1.2vw;
}
.hamburger{
    display: none;
    z-index: 10;
}
.hamburger div{
    width: 18px;
    height: 2px;
    background-color: white;
}
.two{
    margin: 4px auto;
}
.mobile-cards{
    display: none;
}
.mobile-socials{
    display: none;
}
.one,.three{
    transform: translateY(0px) rotate(0deg);
    transition: all ease-in-out 0.2s;
}
.open .one{
    transform: translateY(5.6px) rotate(45deg);
}
.open .two{
    opacity: 0;
}
.open .three{
    transform: translateY(-5.6px) rotate(-45deg);
}
.wrap.open{
    position: fixed;
}
@media (max-width:780px) and (min-width:375px) {
    body{
        overflow-x: hidden;
    }
    .hero-text {
        margin-top: 30px;
        padding: 20px;
    }
    .about{
        margin-top: 20vw;
    }
}
@media (max-width:375px){
    body{
        height: 100%;
        overflow-x: hidden !important;
        width: 100%;
        position: relative;
    }
    .navigation nav ul,.hero-banner,.socials{
        display: none;
    }
    .hero-text {
        margin-top: 70px;
        padding: 10px;
        width: 80vw;
    }
    .hero-text h1{
        font-size: 10vw;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        margin-top: 15px;
        z-index: 5;
    }
    .mobile-hero{
        overflow-x: hidden;
        display: block;
        position: absolute;
        top: -15px;
        z-index: -2;
    }
    .logo{
        width: 35vw;
        z-index: 10;
    }
    .side-nav{
        height: 100vh;
        position: absolute;
        width: 100vw;
        background-color: black;
        padding: 25px;
        z-index: 4;
        top: -15px;
        right: -100vw;
        transition: right ease-in 0.2s;
    }
    .side-nav nav ul{
        list-style: none;
        color: hsl(0, 0%, 55%);
        margin-top: 60px;
    }
    .side-nav nav ul li{
        font-family: var(--primary);
        margin-bottom: 12px;
        font-weight: 100;
    }
    .mobile-hero img{
        width: 100vw;
        height: 70vh;
    }
    .about{
        width: 80vw;
        margin: auto;
        margin-top: 130px;
        flex-direction: column;
    }
    .about-text{
        position:initial;
        width: 80vw;
        margin-top: 10px;
    }
    .about-text h1{
        font-size: 7vw;
        text-align: center;
    }
    .about-text p{
        font-size: 3vw;
        text-align: center;
    }
    .about img{
         width: 80vw;
    }
    .creations{
        margin-top: 50px;
    }
    .cards{
        display: none;
    }
    .mobile-cards{
        display: flex;
        flex-direction: column;
    }
    .mobile-image img{
        max-width: 80vw;
    }
    .mobile-image{
        position: relative;
        margin-bottom: 20px;
    }
    .mobile-image p{
        position: absolute;
        color: hsl(0, 0%, 90%);
        bottom: 30px;
        left: 10px;
        width: 70px;
        font-size: 4vw;
    }
    .heading{
        justify-content: center;
        margin-bottom: 20px;
    }
    .heading h1{
        font-size: 8vw;
    }
    .see-all{
        display: none;
    }
    .mobile-image{
        pointer-events: none;
        max-height: fit-content;
    }
    .mobile-image img{
        pointer-events: auto;
    }
    .mobile-image img:hover{
        opacity: 0.3;
    }
    .mobile-image:hover{
        background-color: hsl(0, 0%, 55%);
    }
    .see-mobile{
        display: block;
        margin: 10px auto;
        background-color: white;
        color: hsl(0, 0%, 55%);
        border-color: hsl(0, 0%, 55%);
        padding: 5px 10px;
    }
    .see-mobile:hover{
        background-color: black;
        color: white;
        border-color: black;
    }
    .footer{
        margin-top: 20px;
    }
    .top{
        display: block;
        margin: auto;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-logo{
        min-width: 30vw !important;
        display: block;
        margin: auto;
    }
    .mobile-socials{
        display: flex;
        justify-content: space-between;
        width: 30vw;
        text-align: center;
        margin: 20px auto;
        margin-top: 10px;
    }
    .mobile-socials img{
        width: 40%;
    }
    .bottom ul{
        display: block;
        margin: 10px auto;
        font-size: 3vw;
    }
    .bottom li{
        margin-bottom: 4px;
        text-align: center;
    }
    .bottom p{
        text-align: center;
        font-size: 2vw;
    }
    .side-nav.open{
        display: block;
        right: 0vw;
        left: 0vw;
    }
    .hamburger{
        display: block;
    }
}